/* App.css */

.App {
  text-align: center;
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
  padding: 20px;
}

h1 {
  color: #333;
  margin-bottom: 20px;
}

h3 {
  color: #555;
  margin-bottom: 20px;
}

.country-card {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  padding: 20px;
  max-width: 400px;
  text-align: left;
}

.country-card h2 {
  color: #222;
  font-size: 1.5em;
  margin-bottom: 10px;
}

.country-card h4 {
  color: #555;
  font-size: 1.2em;
  margin-bottom: 10px;
}

.country-card img {
  width: 100px;
  height: auto;
  border-radius: 4px;
  margin-top: 10px;
}

.country-card p {
  margin: 10px 0;
}